.wrapper {
  padding: 0 15px;
}

table {
  width: 100%;
  border-spacing: 0;
}

th {
  border-bottom: 2px solid #ddd;
  color: #555;
}

th, td {
  padding: 8px;
  text-align: left;
}

td {
  color: #666;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(odd) {
  background-color: #F5F8FA
}

/**
 * button 
 */
.button {
  margin-right: 5px;
  padding: 5px 5px 5px 18px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1;
  color: #fff;
  outline: none;
  cursor: pointer;
  background-size: 12px;
  background-repeat: no-repeat;
  background-position: 4px center;
}

.btn-del {
  background-color: #c9302c;
  background-image: url(../../img/icon-delete.svg);
}

.btn-edit {
  background-color: #337ab7;
  background-image: url(../../img/icon-edit.svg);
}
