<div class="wrapper">
  <table>
    <thead>
      <tr>
        <th width="45%">标题</th>
        <th width="15%">状态</th>
        <th width="20%">日期</th>
        <th width="20%">操作</th>
      </tr>  
    </thead>
    <tbody>
      <tr>
        <td><a href="">ECS 服务器环境搭建</a></td>
        <td>已发布</td>
        <td>2016年06月26日 16:13</td>
        <td>编辑 删除</td>
      </tr>
      <tr>
        <td><a href="">ECS 服务器环境搭建</a></td>
        <td>已发布</td>
        <td>2016年06月26日 16:13</td>
        <td>编辑 删除</td>
      </tr>
      <tr>
        <td><a href="">ECS 服务器环境搭建</a></td>
        <td>已发布</td>
        <td>2016年06月26日 16:13</td>
        <td>编辑 删除</td>
      </tr>
      <tr>
        <td><a href="">ECS 服务器环境搭建</a></td>
        <td>已发布</td>
        <td>2016年06月26日 16:13</td>
        <td>编辑 删除</td>
      </tr>
    </tbody>
  </table>
</div>