html * {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
  height: 100%;
}

body, h2, h3, 
p, dl, dd {
  margin: 0;
}

body {
  font-size: 14px;
  line-height: 1.5;
}

body, input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::-webkit-input-placeholder {
  color: #999;
}

.icon-home {
  background-image: url(../img/icon-house.svg);
}

.icon-article {
  background-image: url(../img/icon-book.svg);
}

.icon-cate {
  background-image: url(../img/icon-class.svg);
}

.icon-system {
  background-image: url(../img/icon-setting.svg);
}

.icon-tag {
  background-image: url(../img/icon-study.svg);
}

a {
  text-decoration: none;
  color: #337ab7;
}


















